name: Deploy to FTP (Konoba Brešić)

on:
  push:
    branches:
      - main  # pokreće se kada push-aš na main granu

jobs:
  ftp-deploy:
    name: Upload to FTP server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          protocol: ftp   # klasični FTP bez SSL
          local-dir: ./   # lokalni direktorij koji će se slati
          server-dir: /   # root, jer tvoj user ima pristup direktno tamo
          exclude: |
            **/.git*
            **/.github*
            **/node_modules/**
            **/.DS_Store
